<link rel="stylesheet" href="/buttons.css">

<div class="return-button-container">
    <a href="/" id="return-button" class="return-button">
        <i data-lucide="home" class="icon-small"></i>
        <span>Voltar à Página Principal</span>
    </a>
</div>
