<link rel="stylesheet" href="/buttons.css">
<script src="https://unpkg.com/lucide@latest"></script>

<div class="return-button-container">
    <a href="/" id="return-button" class="return-button">
        <i data-lucide="home" class="icon-small"></i>
        <span>Voltar à Página Principal</span>
    </a>
</div>