<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Helpdesk Público</title>
</head>
<body>
    <!-- Inclui o ficheiro nav.ejs -->
    <%- include('components/nav') %>


    <h1>Bem-vindo à página inicial</h1>
    <p>Conteúdo da página inicial.</p>

    <%- include('components/footer') %> 

    

</body>
</html>